@model HotelProject.Models.quarto

@{
    ViewBag.Title = "Detalhes Quarto";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<h2>Quarto Detalhado</h2>

<fieldset>
    <legend></legend>

    <div class="display-label">
        <strong>ID</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.quarto_Id)
    </div>
    
    <div class="display-label">
       <strong> Número</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Numero)
    </div>

    <div class="display-label">
        <strong>Státus</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status_quarto.Descridao)
    </div>

    <div class="display-label">
       <strong> Descrição</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">
        <strong> Diária</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorDia)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
