@model HotelProject.Models.funcionario

@{
    ViewBag.Title = "Novo Funcionário";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<h2>Novo Funcionário</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.funcionario_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.funcionario_Id)
            @Html.ValidationMessageFor(model => model.funcionario_Id)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>*@
        
        <div class="editor-label">
           Nome
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
        
        <div class="editor-label">
           E-mail
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Telefone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefone)
            @Html.ValidationMessageFor(model => model.Telefone)
        </div>
        
        <div class="editor-label">
            CPF
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cpf)
            @Html.ValidationMessageFor(model => model.Cpf)
        </div>

        <div class="editor-label">
            RG
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rg)
            @Html.ValidationMessageFor(model => model.Rg)
        </div>

        
        <div class="editor-label">
            Data Nascimento
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DtNascimento)
            @Html.ValidationMessageFor(model => model.DtNascimento)
        </div>

        
        <div class="editor-label">
           Cidade
        </div>
        <div class="editor-field">
            @Html.DropDownList("cidade_id", String.Empty)
            @Html.ValidationMessageFor(model => model.cidade_id)
        </div>
        
        <div class="editor-label">
           Endereço
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Endereco)
            @Html.ValidationMessageFor(model => model.Endereco)
        </div>

        <div class="editor-label">
           Bairro
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bairro)
            @Html.ValidationMessageFor(model => model.Bairro)
        </div>

        <div class="editor-label">
            Login
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)
        </div>

        <div class="editor-label">
           Senha
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Senha)
            @Html.ValidationMessageFor(model => model.Senha)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Sexo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sexo)
            @Html.ValidationMessageFor(model => model.Sexo)
        </div>

        <p>
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar para Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
