@model HotelProject.Models.funcionario

@{
    ViewBag.Title = "Detalhe Funcionário";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<h2>Funcionário Detalhado</h2>

<fieldset>
    <legend></legend>

    <div class="display-label">
       <strong> ID</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.funcionario_Id)
    </div>
    
    <div class="display-label">
       <strong> Nome</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>
    
    <div class="display-label">
       <strong> E-mail</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    
    <div class="display-label">
         <strong>Telefone</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefone)
    </div>
    
    <div class="display-label">
        <strong>CPF</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cpf)
    </div>

    <div class="display-label">
        <strong> RG</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rg)
    </div>
    
    <div class="display-label">
         <strong>Data Registro</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DtRegistro)
    </div>

    <div class="display-label">
         <strong>Data Nascimento</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DtNascimento)
    </div>

    <div class="display-label">
         <strong>Cidade</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cidade.Descricao)
    </div>
    
    <div class="display-label">
        <strong> Endereço</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Endereco)
    </div>

    <div class="display-label">
        <strong> Bairro</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bairro)
    </div>
    
    <div class="display-label">
        <strong> @Html.DisplayNameFor(model => model.Login)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Login)
    </div>

    <div class="display-label">
         <strong>@Html.DisplayNameFor(model => model.Senha)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Senha)
    </div>
    <div class="display-label">
         <strong>Sexo</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sexo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
