@model HotelProject.Models.cidade

@{
    ViewBag.Title = "Detalhe Cidade";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<h2>Cidade detalhada</h2>

<fieldset>
    <legend></legend>

    <div class="display-label">
        <strong>ID</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cidade_id)
    </div>

    <div class="display-label">
        <strong>Descrição</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">
        <strong>Estado</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.cidade_id }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
