@model HotelProject.Models.cidade

@{
    ViewBag.Title = "Editar Cidade";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="editor-label">
            ID
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cidade_id)
            @Html.ValidationMessageFor(model => model.cidade_id)
        </div>

        <div class="editor-label">
           Descrição
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Estado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Estado)
            @Html.ValidationMessageFor(model => model.Estado)
        </div>

        <p>
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar para Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
