@model IEnumerable<HotelProject.Models.cidade>

@{
    ViewBag.Title = "Cidades";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<h2>Cidades</h2>

<p>
    @Html.ActionLink("Nova Cidade +", "Create")
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            #
        </th>
        <th>
             Descrição
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cidade_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @*@Html.ActionLink("Editar", "Edit", new { id=item.cidade_id }) |
            @Html.ActionLink("Detalhar", "Details", new { id=item.cidade_id }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.cidade_id })*@
            
            <div class="btn-group">
                    <a class="btn dropdown-toggle btn-inverse" data-toggle="dropdown" href="#">
                        Ação
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Editar", "Edit", new {  id=item.cidade_id })</li>
                        <li>@Html.ActionLink("Detalhar", "Details", new { id=item.cidade_id  })</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Deletar", "Delete", new {  id=item.cidade_id })</li>
                    </ul>
             </div>
        </td>
    </tr>
}

</table>
