@model HotelProject.Models.checkin

@{
    ViewBag.Title = "Novo Check In";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<script type="text/javascript">
    var Items = new Object();
    Items.quartos = new Array();



    function salvar() {

        $.ajax({
            url: '@Url.Action("Create")',
            data: { Items: getItems() },
            dataType: 'json',
            type: 'POST',
            success: function (data) {
                window.location = "..@Url.Action("Index")";
            },
        });

        }

        // Remove um endereço da grid
        function removerQuarto(key) {

            $("#GridQuarto").load('@Url.Action("RemoverQuarto")',
                {
                    form: getItems(),
                    quartoid: key
                });
        }


        function adicionarQuarto() {

            $("#GridQuarto").load('@Url.Action("AdicionarQuarto")',
        {
            form: getItems(),
            quartoid: $("#quarto_id").val(),
        });

    }


    function getItems() {

        Items = new Object();


        Items.cliente_id = $("#cliente_id").val();
        Items.Previsao = $("#dataPrevisao").val();

        Items.quartos = new Array();

        $("input[id ='quarto']").each(function () {
            Items.quartos.push(new Object({ quarto_Id: $(this).attr("quartoId"), Descricao: $(this).attr("Descricao"), Numero: $(this).attr("Numero"), ValorDia: $(this).attr("ValorDia") }));
        });

        return JSON.stringify(Items);
    }
</script>


<h2>Novo Check In</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>


        <div class="editor-label">
            Cliente
        </div>
        <div class="editor-field">
            @Html.DropDownList("cliente_id", String.Empty)
            @Html.ValidationMessageFor(model => model.cliente_id)
        </div>

        <div class="editor-label">
            Previsão
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Previsao, "number", "dataPrevisao")
            @Html.ValidationMessageFor(model => model.Previsao)
        </div>

        <fieldset>
            <legend>Quartos</legend>

            <div class="editor-field">
                @Html.DropDownList("quarto_id", String.Empty)
            </div>
            <p>
                <input class="btn btn-primary btn-small" type="button" value="Adicionar" onclick="adicionarQuarto()" />
            </p>

            <div id="GridQuarto">
                
                @{ Html.RenderPartial("_GridQuarto", Model); }

            </div>

        </fieldset>

        <p>
            <input class="btn btn-primary" type="button" value="Cadastrar" onclick="salvar()" />
        </p>

    </fieldset>
}

<div>
    @Html.ActionLink("Voltar para Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
