@using Microsoft.Web.Mvc.Html
@model IEnumerable<HotelProject.Models.checkin>
@{
    ViewBag.Title = "Relatório de Quartos";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Exemplo de Relatório em PDF</title>

    <!-- css -->
	<link href="http://rotativaw7.apphb.com/Content/estilos-relatorio.css" rel="stylesheet" type="text/css" />
</head>
    <body>
        <br/>
        <br/>
        <br/>
        <br/>
        <div id="container">
            <div id="cabecalho">
                <div id="nome">
                    <h1>RELATÓRIO DE CHECK-IN REALIZADOS</h1>
                </div>
                <div id="unidade">
                    <h2>HOTEL PORTAL</h2>
                    <h3>MEDIANEIRA - PR</h3>
                </div>
            </div>
            <div id="corpo">
                <div class="linha">
                    <p>
                        DATA INICIAL:<br />
                        <span>@ViewBag.DataInicio</span>
                    </p>
                    <p>
                        DATA FINAL:<br />
                        <span>@ViewBag.DataFim</span>
                    </p>
                    <p>
                        FUNCIONÁRIO:<br />
                        <span class="bold">@ViewBag.Funcionario</span>
                    </p>
                </div>
                <div class="linha">
                    <table>
                        <thead>
                            <tr>
                                <th>CHECK-IN ID</th>
                                <th>CLIENTE</th>
                                <th>DATA</th>
                                <th>DT. SAÍDA</th>
                                <th>TOTAL R$</th>               
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr class="odd">
                                    <td class="bold">@Html.DisplayFor(modelItem => item.checkin_Id)</td>
                                    <td class="bold">@Html.DisplayFor(modelItem => item.cliente.Nome)</td>
                                    <td class="bold">@Html.DisplayFor(modelItem => item.Data)</td>
                                    <td class="bold">@Html.DisplayFor(modelItem => item.Saida)</td>
                                    <td class="bold">@Html.DisplayFor(modelItem => item.Valor)</td>
                                </tr>
                            </tbody>
                        
                        }
                        <tfoot>
                            <tr>
                                <td colspan="5" class="bold">Total</td>
                                <td>R$@Session["total"]</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="linha">
                    <hr/>
                </div>
            </div>
            <div id="rodape">
                <p>Funcionario: <span>@ViewBag.Funcionario</span> Emitido:  <span>@System.DateTime.Now.ToString()</span> hotelportal.com</p>
            </div>
        </div>
    </body>
</html>
