@model HotelProject.Models.status_quarto

@{
    ViewBag.Title = "Detalhe Status";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<h2>Status Detalhado</h2>

<fieldset>
    <legend></legend>

    <div class="display-label">
       <strong> ID</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status_Id)
    </div>

    <div class="display-label">
       <strong> Descrição</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descridao)
    </div>

    <div class="display-label">
        <strong> Alugável</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FlAlugavel)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.status_Id  }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
