@model HotelProject.Models.cliente

@{
    ViewBag.Title = "Excluir Cliente";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<h2>Excluir</h2>

<h3>Tem certeza que deseja excluir este item?</h3>
<fieldset>
    <legend></legend>

    <div class="display-label">
        <strong>ID</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cliente_id)
    </div>
    <div class="display-label">
        <strong> @Html.DisplayNameFor(model => model.Nome)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>
    <div class="display-label">
        <strong>Telefone</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefone)
    </div>
   <div class="display-label">
       <strong> E-mail</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    <div class="display-label">
        <strong> CPF</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cpf)
    </div>

    <div class="display-label">
       <strong>RG</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rg)
    </div>
    <div class="display-label">
        <strong>Cidade</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cidade.Descricao)
    </div>
    <div class="display-label">
        <strong>Endereço</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Endereco)
    </div>

    <div class="display-label">
        <strong> Bairro</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bairro)
    </div>

    <div class="display-label">
       <strong> Data Nascimento</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DtNascimento)
    </div>
    <div class="display-label">
        <strong> Data Registro</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DtRegistro)
    </div>
    <div class="display-label">
        <strong> Sexo</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sexo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Deletar" class="btn btn-primary"/> |
        @Html.ActionLink("Voltar para Lista", "Index")
    </p>
}
